<h1>About Us</h1>
    <img src="./Content/durham3.png" alt="Durham College" width="200">
    <table>
      <tr>
        <td>
          <h5>This website was created by Logan Morris and Cody Chaplin. We used a </br>combination of HTML and JavaScript to create this beautiful canvas for </br>
            our work to be published.</br></br>We attend Durham College and are in our fourth semester. </br>Throughout our programming careers we have obtained the </br>
            skills nessessary to create a website and impliment our own </br>text, pictures and really let our creativity soar.</h5>
        </br>
          <button id="ProjectButton" class="btn btn-primary">See Our Projects!</button>
        </td>
        <td>
          <img class="p-3 pull-right" src="./Content/CODY.jpg" alt="CodyChaplin" height="300">
        </td>
        <td>
          <img class="p-3" src="./Content/LOGAN.jpg" alt="CodyChaplin" height="300">
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td><a class="p-3" href="https://www.linkedin.com/in/codychaplin/">Check out Cody's Linkedin</a></td>
        <td><a class="p-3" href="https://www.linkedin.com/in/logan-at-morris/">Check out Logan's Linkedin</a> </td>
      </tr>
    </table>