<h1 class="mb-2">Welcome to Our Site</h1>
<p>Welcome to our portfolio website for Lab 4!
    We provide a variety of services to help you with your development needs!</br>You can
    check out our Projects page to see our portfolio, Services page for the services we offer,
    or our About Us page if you want to meet our team!</br>
    Click the button below for any inquiries.</p>
<button id="AboutUsButton" class="btn btn-primary">Learn About Us</button>