<h1>Projects</h1>
    <table class="table-sm table-borderless">
      <th>Project 1: Lab 3 - NETD3202</th>
      <th>Project 2: Final Project - SYSA3204</th>
      <th>Project 3: Lab 4 - OOP3200</th>
      <tr>
        <td>This was our final lab in NETD3202 that involved WPF.</br>
          Considering that WPF has been my favourite tool so far, I would say this was my </br> favourite project. 
          It was a simple application that allowed users to enter info into a </br> database using a form "
          and also let them view the data in several different tabs.</td>
        <td>This was our final project in SYSA3204 using Python unit</br>
          testing and Selenium. It invloved automating the testing</br>of a series of test cases and displaying the 
          results in an</br> HTML format as seen below.</td>
        <td>This was our last C++ lab in OOP3200 that invloved intermediate
          object oriented programming concepts such as dynamic memory allocation. This was one of our favourites
          because it helped us understand how memory is allocated.</td>
      </tr>
      <tr>
        <td><img src="./Content/project1.PNG" alt="Project 1" height="400"></td>
        <td><img src="./Content/project2.PNG" alt="Project 2" height="400"></td>
        <td><img src="./Content/project3.PNG" alt="Project 3" height="400"></td>
      </tr>
    </table>