<h1>Services</h1>
    <h5>We provide the best web development services money can buy! </br>
    We attended Durham college and ensure you your highest </br>
    expectations will be blown out of the water!</h5>

    <div class="text-center pb-5">
      <div>
        <img src="./Content/spark.png" width="200">
        <h5>Innovation</h5>
        <small>We offer new ideas and stratagies <br/>to ensure you have the most <br/>productive and efficient system possible!</small>
      </div>

      <div>
        <img src="./Content/develop.png" width="100">
        <h5>Development</h5>
        <small>We have honed our development skills <br/>over the years to give our customers the <br/>best support, design, and final product <br/>they could ask for.</small>
      </div>

      <div>
        <img src="./Content/design.png" width="90">
        <h5>Design</h5>
        <small>We can provide our UI design expertise<br/>to give your website a beautiful and unique look!</small>
      </div>
      </br>
    </div>